* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: #7388cc;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  align-items: center;
  display: flex;
  margin: 20px;
}
.header img {
  max-width: 180px;
  max-height: 110px;
}

h1 {
  text-decoration: underline;
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 1px 1px #fff, 1px 1px 10px #ccc;
  font-size: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#sort-txt {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.books-table {
  border-collapse: collapse;
  margin: 20px 10px;
  border: 2px solid silver;
  flex-wrap: wrap;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
}

.books-table thead {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.books-table tr {
  border: 1px rgb(255, 255, 255);
  border-style: outset;
}

.books-table td {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 9px 30px;
  background-color: rgb(73, 78, 148);
}

.modal {
  background-color: rgb(143, 155, 165);
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  border: 2px solid #a088c7;
  min-width: 300px;
  text-align: center;
  box-shadow: black 2px 1px 2px 1px;
}

.modal #close {
  float: right;
  width: auto;
  height: auto;
  color: #3636ad;
  cursor: hand;
}
.img-container img {
  max-width: 100px;
  max-height: 200px;
  outline-style: dotted;
}

.display-img {
  max-width: 100px;
  max-height: 110px;
  outline-style: dotted;
}

.create-btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  max-width: 20vh;
  padding: 10px 8px;
  position: relative;
  color: #3636ad;
  cursor: hand;
  margin-left: 10vh;
}

.update-btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  color: rgb(59, 57, 182);
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(233, 242, 255);
}
.update-btn:hover {
  background-color: #c4caff;
}
.read-btn:hover {
  background-color: #c4caff;
}
.delete-btn:hover {
  background-color: #c4caff;
}

.read-btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  color: rgb(59, 57, 182);

  padding: 5px;
  border-radius: 4px;
  background-color: rgb(233, 242, 255);
}
.delete-btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  color: rgb(59, 57, 182);
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(248, 246, 252);
}

.rate-conroller span {
  margin: 5px;
  font-size: 20px;
}

.rate-conroller button {
  padding: 4px;
  width: 24px;
}

.input-modal {
  max-width: 200px;
  background-color: lightgray;
  padding: 10px;
  position: absolute;
  top: 10px;
  color: black;
  left: 50%;
  min-width: 300px;
  box-shadow: black 2px 1px 2px 1px;

  text-align: center;
}

.input-modal #close {
  float: right;
  width: auto;
  height: auto;
  color: #3636ad;
  cursor: hand;
}

#confirm {
  display: block;
  margin-top: 2vh;
  width: 60%;
  height: auto;
  color: #ad3636;
  cursor: hand;
  margin-left: 6vh;
}

.sort-btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  max-width: 20vh;
  height: auto;
  padding: 8px 5px;
  position: relative;
  color: #3636ad;
  cursor: hand;
  border-radius: 00.2rem;
  margin-left: 10px;
}
h4 {
  margin-left: 10px;
  display: inline-block;
}
.active-sort {
  color: #161570;
  background-color: rgb(204, 198, 255);
  cursor: hand;
}
.sort-btn:hover {
  background-color: rgb(182, 173, 233);
}
.page-num {
  color: white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.next-btn {
  display: inline-block;
  max-width: 10vh;
  padding: 2px 2px;
  padding: 4px 4px;
  position: relative;
  color: #3636ad;
  margin-left: 10px;
}

.container {
  background: #e9e9e9;
  padding: 10px;
  position: absolute;
  top: 850px;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  counter-reset: pagination;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
}

.container ul {
  width: 50%;
}

.xlarge {
  width: auto;
}

ul,
li {
  list-style: none;
  display: inline;
  padding-left: 3px;
  margin-right: 7px;
}

li {
  counter-increment: pagination;
}
li:hover a {
  color: #fdfdfd;
  background-color: #623d85;
  border: solid 1px #1d1f20;
}
.active {
  color: #fdfdfd;
  background-color: #411d63;
  border: solid 1px #1d1f20;
}
li:first-child {
  float: left;
}
li:first-child a:after {
  content: 'Previous';
}
li:nth-child(2) {
  counter-reset: pagination;
}
li:last-child {
  float: right;
}
li:last-child a:after {
  content: 'Next';
}
li a {
  border: solid 1px #646464;
  border-radius: 0.2rem;
  color: #464646;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}
li a:after {
  content: ' ' counter(pagination) ' ';
}
