body {
  background-color: rgb(36, 32, 71);
  background-image: url('b.jpg');
  /* background-image: url('2588.jpg'); */
  background-size: cover;
  display: flex;
  margin-top: 3%;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  color: rgb(88, 88, 88);
}

table {
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  align-items: center;
  border: 3px solid rgb(9, 206, 255);
  box-shadow: 0 0 10px #16e6ca;
  border-spacing: 1px;
}
table td {
  border: none;
  display: inline-table;
  width: 28px;
  height: 28px;
  transition: 0.5s;
  border: 1px solid rgba(114, 113, 113, 0.6);
  border-spacing: 1px;
  background-color: rgb(228, 243, 255);
}

table td p {
  position: absolute;
  color: rgb(16, 0, 107);
  font-variant-numeric: diagonal-fractions;
  font-weight: bold;
  font-size: 14px;
}

td:hover {
  cursor: pointer;
  background-color: rgb(164, 195, 235);
  opacity: 0.5;
}

/* .board-container {
  margin-left: 25%;
  margin-right: 25%;
  height: 500px;
  width: 450px;
  overflow: hidden;
  white-space: nowrap;
} */

.marked {
  background-color: rgb(141, 67, 211);
}

.marked-safe {
  background-color: rgb(119, 231, 125);
}

.pressed {
  background-color: rgb(143, 166, 185);
}
.bombed {
  transition: 3;
  background-color: rgb(255, 126, 126);
}
.level {
  margin-bottom: 3%;
  font-size: 18px;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px black;
}
.emoji {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  display: inline-block;
  position: absolute;
  left: 48.7%;
  right: 48.7%;
  margin-bottom: 3px;
}

#display {
  width: 60%;
  font-size: 30px;
  text-align: center;
  margin: 0px auto;
  background-color: rgb(218, 241, 250);
  border-radius: 20px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.background-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.level {
  background-color: rgb(104, 183, 207);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 14px 16px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

h1 {
  color: rgb(230, 241, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(128, 128, 128);
  -webkit-box-shadow: 4px 4px 13px 4px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #85ffeb, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #88d9ff, -10px 10px 15px 7px #67ff88,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #73ffdc, -9px 5px 15px 5px #88ffac,
    -7px -5px 15px 5px #85fbff, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #9088ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #4ce4d7, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* .life1 {
  margin-right: 20px;
}
.life2 {
  margin-right: 20px;
}
.life3 {
  margin-right: 20px;
}

#wrapper {
  animation: pulse 1s infinite;
  display: inline-flex;
}

#pulsingheart {
  position: relative;
  width: 90px;
  height: 90px;
}

#pulsingheart:before,
#pulsingheart:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #b30687;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

#pulsingheart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

@keyframes pulsecolor {
  10% {
    background: #fd33a9;
  }
} */

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  color: white;
  padding: 15px 20px;
  width: 200px;
  font-size: 46px;
  font-family: sans-serif;
  position: relative;
}

#userPick {
  display: flex;
  text-align: center;
}

#compPick {
  display: flex;
  text-align: center;
}

.badge {
  background: rgb(104, 183, 207);
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: sans-serif;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -29px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;
  margin-bottom: 20px;
}

.pulse {
  transform: scale(1);
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.hints img {
  width: 37px;
  height: 37px;
}

.warrper {
  top: 15px;
  display: inline-block;
  width: 130px;
  height: 37px;
  position: relative;
  left: 80px;
}

.hints img {
  transform: scale(1);
  animation: pulse 2s infinite;
}
@keyframes hints {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}
/* .undo {
  width: 40px;
  height: 13px;
  font-size: 20px;
  border-radius: 40px;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  left: 100%;
  color: #ffffff;
  background-color: #dace27;
  margin-bottom: 3px;
} */

.undo:hover {
  color: whitesmoke;
  background-color: rgb(194, 162, 212);
}

.undo {
  margin-top: 18px;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 22px;
  left: 100px;
  position: relative;
  display: inline-block;
  color: #444;
  border: 1px solid #ccc;
  background: #ddd;
  box-shadow: 0px 14px 16px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  vertical-align: middle;
  max-width: 140px;
  padding: 5px;
  text-align: center;
}
.undo:active {
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.hint {
  box-shadow: inset 4px 4px 4px 4px rgb(255, 254, 210);
}
/* 
.manual-warpper {
  position: relative;
  background: #ddd;
  right: 100px;
  padding: 2px;
  border-radius: 10px;
  font-size: 25px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  max-width: 100px;
  top: 8px;
}
.manual-warpper:hover {
  background-color: rgb(194, 162, 212);
} */

.manual-warpper {
  vertical-align: center;
  right: 95px;
  border-radius: 10px;
  padding: 2px;
  max-width: 100px;
  position: relative;
  font-size: 22px;
  top: 5px;
  border-style: solid;
  border-color: #bbb #888 #666 #aaa;
  border-width: 3px 4px 4px 3px;
  width: 9em;
  height: 2em;
  background: #ccc;
  color: #333;
  line-height: 2;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
}
.manual-warpper-clicked {
  border-color: #666 #aaa #bbb #888;
  border-width: 4px 3px 3px 4px;
  color: rgb(226, 0, 0);
}
.safe-click {
  margin-top: 17px;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  color: #444;
  border: 1px solid #ccc;
  background: #ddd;
  box-shadow: 0px 14px 16px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  cursor: pointer;
  vertical-align: middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
  right: 120px;
}
.safe-clicked {
  background-color: rgb(133, 211, 241);
  color: red;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.safe-clicks-count {
  color: rgb(0, 217, 255);
  text-shadow: 1px 1px 3px black;
  font-size: 16px;
  position: relative;
  display: block;
  right: 280px;
  top: 16px;
  font-weight: bold;
}

.modal {
  background-color: rgb(180, 141, 168);
  box-shadow: 1px 1px 1px rgb(78, 78, 78), 1px 1px 10px rgb(32, 32, 32);
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  width: 350px;
  border-radius: 12px;
}

.modal button {
  float: right;
}
.modal button {
  background-color: #71aaff;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  font-size: 10px;
}
.modal p {
  text-align: center;
  font-size: 13px;
  color: white;
}
.modal h2 {
  text-align: center;
  font-size: 20px;
  color: white;
}
